body{
  margin: 0;
  border: 0;
  padding: 0;
}

.container {
  max-width: 980px;
  margin: 0 auto;
}

.header {
  background-color: #bd0000;
  width: 100%;
  height: 80px;
  border-bottom:#030063 12px double;
}

.header span{ 
  color: rgb(185, 180, 180);

}

.nav ul li {
  display: inline-block;
  margin-left: 20px;
  padding: 15px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header li span {
  color: rgb(185, 180, 180);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.nav a {
  text-decoration: none;
  text-transform: uppercase;

  color: white;
}

.nav {
  float: right;
}

.titulo {
  float: left;
  color: white;
  margin: auto;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.showcase {
  width: 100%;
  height: 400px;
  text-align: center;
  background-image: url('imgcanva.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  
}
  

.showcase p {
  color: rgb(255, 255, 255);
  font-family: 'Times New Roman', Times, serif;
}
.showcase h1 {
  margin: 0;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 font-size: 40px;
 padding-top: 150px;
 color: white;
}

.baixo{
  background-color: #bd0000;
  width: 100%;
  height: 90px;
  border-bottom:#060094 8px dotted;
  border-top:#060094 12px double ;
  margin: 0;
  padding: 0;
}

.titulo_b {
  color: white;
  float: left;
  margin: auto;
  padding: 25px;
  font-family: Arial, Helvetica, sans-serif;
 
}

.baixo span{
  display: inline-block;
  margin-left: -9px;
  padding: 25px;
  word-spacing: 20px;
  color: rgb(185, 180, 180);
  font-size: 34px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif

 
}



.inf{
  background-color: rgb(112, 104, 104);
  width: 97%;
  height: 150px;
  margin: 0;
  border: 0px;
  padding: 20px;
}

.titulo_i {
  color: #990101;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0%;
  padding: 0%;
  text-align: center;
  
}

.inf form {
  text-align: center;
  padding: 20px;
  padding-bottom: 0%;

}
.inf input{
  width: 250px;
  height: 31px;
}

.enviar {
  background: rgb(6, 12, 70);
  color: white;
  border: none;
  height: 31px;

}

.inf h3 {
  text-align: center;
  border: 0px;
  padding: 0px;
  color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-decoration-line: overline;
  
}

















